.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}
.navbar .logo{
    font-size: 24px;
    font-weight: bold;   
}
.admin-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    font-size: 25px; 
    color: #fff;
}